{{!
    This file is part of Moodle - http://moodle.org/

    Tree template - Adapted for OneDrive style
    This template is now primarily used internally for data structure
    The visual rendering is handled by folder.mustache with grid view

    @template mod_folder/tree
    @package   mod_folder
}}

{{! OneDrive grid item representation }}
<div class="folder-tree-item {{#is_folder}}folder-type-folder{{/is_folder}}{{#is_file}}folder-type-file{{/is_file}}">
    <div class="fp-filename-icon">
        <span class="fp-icon">
            {{{icon}}}
        </span>
        <span class="fp-filename">
            {{#url}}
                <a href="{{url}}">{{{name}}}</a>
            {{/url}}
            {{^url}}
                {{{name}}}
            {{/url}}
        </span>
    </div>
    {{#hassubdirs}}
        <div class="folder-tree-subdirs">
            {{#subdirs}}
                {{>mod_folder/tree}}
            {{/subdirs}}
        </div>
    {{/hassubdirs}}
</div>