{{!
    This file is part of Moodle - http://moodle.org/

    Tree template for Windows Explorer style navigation
    @template mod_folder/tree
    @package   mod_folder
}}

<li class="folder-tree-node {{#isroot}}is-root{{/isroot}} {{#hassubdirs}}has-children{{/hassubdirs}} {{#expanded}}expanded{{/expanded}}{{^expanded}}collapsed{{/expanded}}"
    data-path="{{path_encoded}}">
    <div class="folder-tree-node-inner">
        {{#hassubdirs}}
        <button type="button" class="folder-tree-toggle" aria-label="{{strings.togglefolder}}" aria-expanded="{{#expanded}}true{{/expanded}}{{^expanded}}false{{/expanded}}"></button>
        {{/hassubdirs}}
        {{^hassubdirs}}
        <span class="folder-tree-toggle placeholder" aria-hidden="true"></span>
        {{/hassubdirs}}
        <span class="folder-tree-icon">{{{icon}}}</span>
        <button type="button" class="folder-tree-label">{{name}}</button>
    </div>
    {{#hassubdirs}}
    <ul class="folder-tree-children">
        {{#subdirs}}
            {{> mod_folder/tree}}
        {{/subdirs}}
    </ul>
    {{/hassubdirs}}
</li>
