{{!
    @template core_courseformat/local/courseindex/cm

    Redesigned course module entry for the course index.
}}
<li class="courseindex-item
        {{#isactive}}active{{/isactive}}
        {{#hascmrestrictions}}restrictions{{/hascmrestrictions}}
        {{^accessvisible}}dimmed{{/accessvisible}}
        {{#indent}} indented {{/indent}}
        {{#hasdelegatedsection}}py-0{{/hasdelegatedsection}}"
    id="{{uniqid}}-course-index-cm-{{id}}"
    data-for="cm"
    data-id="{{id}}"
    role="treeitem">
    {{^hasdelegatedsection}}
        <div class="courseindex-item__body d-flex align-items-start justify-content-between">
            <div class="courseindex-item__main d-flex align-items-start flex-grow-1">
                <span class="completioninfo courseindex-item__completion" data-for="cm_completion" data-value="NaN"></span>
                {{#uservisible}}
                <a class="courseindex-link courseindex-item__link text-truncate"
                   {{#url}}href="{{{url}}}"{{/url}}{{^url}}href="#{{{anchor}}}" data-anchor="true"{{/url}}
                   data-for="cm_name"
                   tabindex="-1"
                   title="{{{name}}}">
                    <span class="courseindex-item__name">{{{name}}}</span>
                </a>
                {{/uservisible}}
                {{^uservisible}}
                <a class="courseindex-link courseindex-item__link text-truncate"
                   href="#{{{anchor}}}"
                   data-for="cm_name"
                   tabindex="-1"
                   data-anchor="true">
                    <span class="courseindex-item__name">{{{name}}}</span>
                </a>
                {{/uservisible}}
            </div>
            <div class="courseindex-item__meta d-flex align-items-center">
                {{#hascmrestrictions}}
                <span class="courseindex-locked" data-for="cm_name">
                    {{#pix}} t/locked, core {{/pix}}
                </span>
                {{/hascmrestrictions}}
                <span class="dragicon courseindex-item__drag" aria-hidden="true">
                    <span class="edw-icon edw-edw-icon edw-icon-Move"></span>
                </span>
            </div>
        </div>
    {{/hasdelegatedsection}}
    {{#hasdelegatedsection}}
        {{#sectioninfo}}
            {{> core_courseformat/local/courseindex/section}}
        {{/sectioninfo}}
    {{/hasdelegatedsection}}
</li>
{{#js}}
require(['core_courseformat/local/courseindex/cm'], function(component) {
    component.init('{{uniqid}}-course-index-cm-{{id}}');
});
{{/js}}
