{{!
    @template core_courseformat/local/courseindex/cm
    
    Course module in index - Minimal design with proper completion
    
    Context variables:
    * id - Module ID
    * name - Module name
    * url - Module URL
    * isactive - Boolean
    * uservisible - Boolean
    * accessvisible - Boolean
}}
<li class="courseindex-item 
           {{#isactive}}courseindex-item--active{{/isactive}}
           {{#hascmrestrictions}}courseindex-item--restricted{{/hascmrestrictions}}
           {{^accessvisible}}courseindex-item--dimmed{{/accessvisible}}
           {{#indent}}courseindex-item--indented{{/indent}}"
    id="{{uniqid}}-course-index-cm-{{id}}"
    data-for="cm"
    data-id="{{id}}"
    role="treeitem">
    
    {{^hasdelegatedsection}}
    
    <div class="courseindex-item__content">
        
        {{! CRITICAL: Maintain completioninfo for core functionality }}
        <span class="completioninfo" 
              data-for="cm_completion" 
              data-value="NaN"></span>
        
        {{! Status icon - updated by JS }}
        <span class="courseindex-item__status" 
              data-region="cm-status" 
              aria-hidden="true"></span>
        
        {{! Activity link }}
        {{#uservisible}}
        <a class="courseindex-item__link"
           {{#url}}href="{{{url}}}"{{/url}}
           {{^url}}href="#{{{anchor}}}" data-anchor="true"{{/url}}
           data-for="cm_name" 
           tabindex="-1" 
           title="{{{name}}}">
            <span class="courseindex-item__name">{{{name}}}</span>
        </a>
        {{/uservisible}}
        
        {{^uservisible}}
        <a class="courseindex-item__link courseindex-item__link--not-visible"
           href="#{{{anchor}}}" 
           data-for="cm_name" 
           tabindex="-1" 
           data-anchor="true"
           title="{{{name}}}">
            <span class="courseindex-item__name">{{{name}}}</span>
        </a>
        {{/uservisible}}
        
        {{! Screen reader status text }}
        <span class="sr-only" data-region="cm-status-text"></span>
        
        {{! Locked icon }}
        {{#hascmrestrictions}}
        <span class="courseindex-item__locked" data-for="cm_restrictions">
            {{#pix}} t/locked, core {{/pix}}
        </span>
        {{/hascmrestrictions}}
        
    </div>
    
    {{/hasdelegatedsection}}
    
    {{#hasdelegatedsection}}
        {{#sectioninfo}}
            {{> core_courseformat/local/courseindex/section}}
        {{/sectioninfo}}
    {{/hasdelegatedsection}}
    
</li>

{{#js}}
require(['core_courseformat/local/courseindex/cm'], function(component) {
    component.init('{{uniqid}}-course-index-cm-{{id}}');
});
{{/js}}
