{{!
    @template core_courseformat/local/courseindex/section

    Redesigned section entry for the course index drawer.
}}
<div class="courseindex-section {{#current}}current{{/current}} {{#component}}delegated-section{{/component}}"
     id="{{uniqid}}-course-index-section-{{id}}"
     data-for="section"
     data-id="{{id}}"
     data-number="{{number}}"
     role="treeitem"
     aria-owns="{{uniqid}}-courseindexcollapse{{number}}">
    <div class="courseindex-item courseindex-section__header d-flex align-items-center{{^visible}} dimmed{{/visible}}{{#hasrestrictions}} restrictions{{/hasrestrictions}}"
         id="{{uniqid}}-courseindexsection{{number}}"
         data-for="section_item">
        <a data-toggle="collapse"
           href="#{{uniqid}}-courseindexcollapse{{number}}"
           class="courseindex-chevron icons-collapse-expand courseindex-section__toggle {{#indexcollapsed}}collapsed{{/indexcollapsed}}"
           aria-expanded="{{^indexcollapsed}}true{{/indexcollapsed}}{{#indexcollapsed}}false{{/indexcollapsed}}"
           aria-controls="{{uniqid}}-courseindexcollapse{{number}}"
           tabindex="-1">
            <span class="collapsed-icon icon-no-margin me-1" title="{{#str}}expand, core{{/str}}">
                <span class="dir-rtl-hide">{{#pix}} t/collapsedchevron, core {{/pix}}</span>
                <span class="dir-ltr-hide">{{#pix}} t/collapsedchevron_rtl, core {{/pix}}</span>
                <span class="sr-only">{{#str}}expand, core{{/str}}</span>
            </span>
            <span class="expanded-icon icon-no-margin me-1" title="{{#str}}collapse, core{{/str}}">
                {{#pix}} t/expandedchevron, core {{/pix}}
                <span class="sr-only">{{#str}}collapse, core{{/str}}</span>
            </span>
        </a>
        <a href="{{{sectionurl}}}"
           class="courseindex-link courseindex-section__link text-truncate"
           data-action="togglecourseindexsection"
           data-for="section_title"
           tabindex="-1">
            <span class="courseindex-section__name">{{{title}}}</span>
        </a>
        {{#highlighted}}
        <span class="courseindex-section__badge badge bg-primary text-white ms-2 px-2 rounded-pill">
            {{{highlighted}}}
        </span>
        {{/highlighted}}
        {{#hasrestrictions}}
        <span class="courseindex-locked ms-2" data-for="cm_name">
            {{#pix}} t/locked, core {{/pix}}
        </span>
        {{/hasrestrictions}}
    </div>
    <div id="{{uniqid}}-courseindexcollapse{{number}}"
         class="courseindex-item-content collapse {{^indexcollapsed}}show{{/indexcollapsed}}"
         aria-labelledby="{{uniqid}}-courseindexsection{{number}}"
         role="group">
        <ul class="courseindex-sectioncontent unlist"
            data-for="cmlist"
            data-id="{{id}}"
            role="group">
            {{#cms}}
                {{> core_courseformat/local/courseindex/cm }}
            {{/cms}}
        </ul>
    </div>
</div>
{{#js}}
require(['core_courseformat/local/courseindex/section'], function(component) {
    component.init('{{uniqid}}-course-index-section-{{id}}');
});
{{/js}}
