{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_caracterizacion/matrices_list

    Template for displaying the list of characterization matrices.

    Context variables required:
    * matrices - Array of matrix objects
    * cmid - Course module ID
    * candelete - Whether user can delete matrices
    * canedit - Whether user can edit matrices

    @package     mod_caracterizacion
    @copyright   2024 Alonso Arias <soporte@orioncloud.com.co>
    @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="mod-caracterizacion-matrices-list">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3 class="mb-0">{{#pix}}matrix, mod_caracterizacion, {{#str}}matrices, mod_caracterizacion{{/str}}{{/pix}} {{#str}}matrices, mod_caracterizacion{{/str}}</h3>
        {{#cancreate}}
        <a href="{{createurl}}" class="btn btn-primary">
            {{#pix}}t/add, core{{/pix}} {{#str}}crearmatriz, mod_caracterizacion{{/str}}
        </a>
        {{/cancreate}}
    </div>

    {{#hasmatrices}}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>{{#str}}programaacademico, mod_caracterizacion{{/str}}</th>
                    <th>{{#str}}nombredelcurso, mod_caracterizacion{{/str}}</th>
                    <th class="text-center">{{#str}}faseactual, mod_caracterizacion{{/str}}</th>
                    <th class="text-center">{{#str}}estado, mod_caracterizacion{{/str}}</th>
                    <th>{{#str}}creador, mod_caracterizacion{{/str}}</th>
                    <th>{{#str}}fechacreacion, mod_caracterizacion{{/str}}</th>
                    <th class="text-center">{{#str}}acciones, mod_caracterizacion{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#matrices}}
                <tr>
                    <td data-label="{{#str}}programaacademico, mod_caracterizacion{{/str}}">
                        <strong>{{programa_academico}}</strong>
                    </td>
                    <td data-label="{{#str}}nombredelcurso, mod_caracterizacion{{/str}}">
                        {{nombre_curso}}
                    </td>
                    <td data-label="{{#str}}faseactual, mod_caracterizacion{{/str}}" class="text-center">
                        <span class="badge badge-pill badge-primary">{{#pix}}phases, mod_caracterizacion{{/pix}} {{fase_actual}} / 6</span>
                    </td>
                    <td data-label="{{#str}}estado, mod_caracterizacion{{/str}}" class="text-center">
                        <span class="badge badge-{{estadoclass}}">
                            {{#is_borrador}}{{#pix}}draft, mod_caracterizacion{{/pix}}{{/is_borrador}}
                            {{#is_en_proceso}}{{#pix}}inprogress, mod_caracterizacion{{/pix}}{{/is_en_proceso}}
                            {{#is_completada}}{{#pix}}completed, mod_caracterizacion{{/pix}}{{/is_completada}}
                            {{estado}}
                        </span>
                    </td>
                    <td data-label="{{#str}}creador, mod_caracterizacion{{/str}}">
                        {{#pix}}i/user, core{{/pix}} {{creador}}
                    </td>
                    <td data-label="{{#str}}fechacreacion, mod_caracterizacion{{/str}}">
                        {{#pix}}i/calendar, core{{/pix}} {{timecreated}}
                    </td>
                    <td data-label="{{#str}}acciones, mod_caracterizacion{{/str}}" class="text-center text-nowrap">
                        <div class="btn-group" role="group">
                            <a href="{{viewurl}}" class="btn btn-sm btn-outline-primary" title="{{#str}}ver, mod_caracterizacion{{/str}}">
                                {{#pix}}i/preview, core{{/pix}}
                            </a>
                            {{#canedit}}
                            <a href="{{editurl}}" class="btn btn-sm btn-outline-secondary" title="{{#str}}editar, mod_caracterizacion{{/str}}">
                                {{#pix}}t/edit, core{{/pix}}
                            </a>
                            {{/canedit}}
                            {{#candelete}}
                            <a href="{{deleteurl}}" class="btn btn-sm btn-outline-danger" title="{{#str}}eliminar, mod_caracterizacion{{/str}}"
                               onclick="return confirm('{{#str}}confirmareliminar, mod_caracterizacion{{/str}}');">
                                {{#pix}}t/delete, core{{/pix}}
                            </a>
                            {{/candelete}}
                        </div>
                    </td>
                </tr>
                {{/matrices}}
            </tbody>
        </table>
    </div>
    {{/hasmatrices}}

    {{^hasmatrices}}
    <div class="alert alert-info text-center py-4">
        {{#pix}}info, mod_caracterizacion{{/pix}}
        <p class="mb-0 mt-2">{{#str}}nomatrices, mod_caracterizacion{{/str}}</p>
        {{#cancreate}}
        <a href="{{createurl}}" class="btn btn-primary mt-3">
            {{#pix}}t/add, core{{/pix}} {{#str}}crearmatriz, mod_caracterizacion{{/str}}
        </a>
        {{/cancreate}}
    </div>
    {{/hasmatrices}}
</div>
