{{!
    This file is part of Moodle - http://moodle.org/
    
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template paygw_payu/checkout_modal
    
    PayU checkout modal template.
    
    Context variables required for this template:
    * component - Component name
    * paymentarea - Payment area
    * itemid - Item ID
    * description - Payment description
    * sesskey - Session key
    * banks - Array of PSE banks (optional)
    
    Example context (json):
    {
        "component": "enrol_fee",
        "paymentarea": "fee",
        "itemid": "123",
        "description": "Course payment",
        "sesskey": "abc123",
        "banks": [
            {"code": "1001", "name": "Banco de Bogotá"}
        ]
    }
}}
<form id="payu-checkout-form" class="payu-payment-form">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <input type="hidden" name="component" value="{{component}}">
    <input type="hidden" name="paymentarea" value="{{paymentarea}}">
    <input type="hidden" name="itemid" value="{{itemid}}">
    <input type="hidden" name="description" value="{{description}}">
    
    <div class="form-group">
        <label for="paymentmethod">{{#str}} paymentmethod, paygw_payu {{/str}}</label>
        <select class="form-control" id="paymentmethod" name="paymentmethod" required>
            <option value="">{{#str}} choosepaymentmethod, paygw_payu {{/str}}</option>
            <option value="creditcard">{{#str}} creditcard, paygw_payu {{/str}}</option>
            <option value="pse">{{#str}} pse, paygw_payu {{/str}}</option>
            <option value="nequi">{{#str}} nequi, paygw_payu {{/str}}</option>
            <option value="bancolombia">{{#str}} bancolombia, paygw_payu {{/str}}</option>
            <option value="googlepay">{{#str}} googlepay, paygw_payu {{/str}}</option>
            <option value="cash">{{#str}} cash, paygw_payu {{/str}}</option>
        </select>
    </div>
    
    {{! Common fields for all methods }}
    <div class="form-group">
        <label for="cardholder">{{#str}} cardholder, paygw_payu {{/str}}</label>
        <input type="text" class="form-control" id="cardholder" name="cardholder" maxlength="255">
        <small class="form-text text-muted">{{#str}} cardholder_help, paygw_payu {{/str}}</small>
    </div>
    
    <div class="form-group">
        <label for="email">{{#str}} email, paygw_payu {{/str}}</label>
        <input type="email" class="form-control" id="email" name="email" maxlength="255">
    </div>
    
    {{! Credit card fields }}
    <div class="payment-method-fields d-none" data-method="creditcard">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="cardnumber">{{#str}} cardnumber, paygw_payu {{/str}}</label>
                    <input type="text" class="form-control" id="cardnumber" name="cardnumber" 
                           pattern="[0-9]{13,20}" maxlength="20" autocomplete="cc-number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="expmonth">{{#str}} expmonth, paygw_payu {{/str}}</label>
                    <select class="form-control" id="expmonth" name="expmonth" autocomplete="cc-exp-month">
                        <option value="">MM</option>
                        {{#months}}
                        <option value="{{value}}">{{label}}</option>
                        {{/months}}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="expyear">{{#str}} expyear, paygw_payu {{/str}}</label>
                    <select class="form-control" id="expyear" name="expyear" autocomplete="cc-exp-year">
                        <option value="">YYYY</option>
                        {{#years}}
                        <option value="{{value}}">{{label}}</option>
                        {{/years}}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cvv">{{#str}} cvv, paygw_payu {{/str}}</label>
                    <input type="password" class="form-control" id="cvv" name="cvv" 
                           pattern="[0-9]{3,4}" maxlength="4" autocomplete="cc-csc">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cardnetwork">{{#str}} cardnetwork, paygw_payu {{/str}}</label>
                    <select class="form-control" id="cardnetwork" name="cardnetwork">
                        <option value="VISA">Visa</option>
                        <option value="MASTERCARD">Mastercard</option>
                        <option value="AMEX">American Express</option>
                        <option value="DINERS">Diners Club</option>
                        <option value="CODENSA">Codensa</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="installments">{{#str}} installments, paygw_payu {{/str}}</label>
                    <select class="form-control" id="installments" name="installments">
                        <option value="1">1 {{#str}} installment, paygw_payu {{/str}}</option>
                        {{#installments}}
                        <option value="{{value}}">{{value}} {{#str}} installments, paygw_payu {{/str}}</option>
                        {{/installments}}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cc_phone">{{#str}} phone, paygw_payu {{/str}}</label>
                    <input type="tel" class="form-control" id="cc_phone" name="phone" maxlength="20">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cc_documentnumber">{{#str}} documentnumber, paygw_payu {{/str}}</label>
                    <input type="text" class="form-control" id="cc_documentnumber" name="documentnumber" maxlength="20">
                </div>
            </div>
        </div>
    </div>
    
    {{! PSE fields }}
    <div class="payment-method-fields d-none" data-method="pse">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> {{#str}} instruction_pse, paygw_payu {{/str}}
        </div>
        <div class="form-group">
            <label for="psebank">{{#str}} psebank, paygw_payu {{/str}}</label>
            <select class="form-control" id="psebank" name="psebank">
                <option value="">{{#str}} selectbank, paygw_payu {{/str}}</option>
                {{#banks}}
                <option value="{{code}}">{{name}}</option>
                {{/banks}}
            </select>
        </div>
        <div class="form-group">
            <label for="usertype">{{#str}} usertype, paygw_payu {{/str}}</label>
            <select class="form-control" id="usertype" name="usertype">
                <option value="N">{{#str}} personnatural, paygw_payu {{/str}}</option>
                <option value="J">{{#str}} personjuridica, paygw_payu {{/str}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="documenttype">{{#str}} documenttype, paygw_payu {{/str}}</label>
            <select class="form-control" id="documenttype" name="documenttype">
                <option value="CC">CC - Cédula de Ciudadanía</option>
                <option value="CE">CE - Cédula de Extranjería</option>
                <option value="NIT">NIT - Número de Identificación Tributaria</option>
                <option value="TI">TI - Tarjeta de Identidad</option>
                <option value="PP">PP - Pasaporte</option>
                <option value="RC">RC - Registro Civil</option>
                <option value="DE">DE - Documento de Extranjero</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pse_documentnumber">{{#str}} documentnumber, paygw_payu {{/str}}</label>
            <input type="text" class="form-control" id="pse_documentnumber" name="documentnumber" maxlength="20">
        </div>
        <div class="form-group">
            <label for="pse_phone">{{#str}} phone, paygw_payu {{/str}}</label>
            <input type="tel" class="form-control" id="pse_phone" name="phone" maxlength="20">
        </div>
    </div>
    
    {{! Nequi fields }}
    <div class="payment-method-fields d-none" data-method="nequi">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> {{#str}} instruction_nequi, paygw_payu {{/str}}
        </div>
        <div class="form-group">
            <label for="nequi_phone">{{#str}} phone, paygw_payu {{/str}}</label>
            <input type="tel" class="form-control" id="nequi_phone" name="phone" 
                   pattern="3[0-9]{9}" maxlength="10" placeholder="3001234567">
            <small class="form-text text-muted">{{#str}} nequi_phone_help, paygw_payu {{/str}}</small>
        </div>
        <div class="form-group">
            <label for="nequi_documentnumber">{{#str}} documentnumber, paygw_payu {{/str}}</label>
            <input type="text" class="form-control" id="nequi_documentnumber" name="documentnumber" maxlength="20">
        </div>
    </div>
    
    {{! Bancolombia fields }}
    <div class="payment-method-fields d-none" data-method="bancolombia">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> {{#str}} instruction_bancolombia, paygw_payu {{/str}}
        </div>
        <div class="form-group">
            <label for="bancolombia_phone">{{#str}} phone, paygw_payu {{/str}}</label>
            <input type="tel" class="form-control" id="bancolombia_phone" name="phone" maxlength="20">
        </div>
        <div class="form-group">
            <label for="bancolombia_documentnumber">{{#str}} documentnumber, paygw_payu {{/str}}</label>
            <input type="text" class="form-control" id="bancolombia_documentnumber" name="documentnumber" maxlength="20">
        </div>
    </div>
    
    {{! Google Pay fields }}
    <div class="payment-method-fields d-none" data-method="googlepay">
        <div class="form-group">
            <label for="gp_network">{{#str}} cardnetwork, paygw_payu {{/str}}</label>
            <select class="form-control" id="gp_network" name="gp_network">
                <option value="VISA">VISA</option>
                <option value="MASTERCARD">MASTERCARD</option>
                <option value="ELECTRON">ELECTRON</option>
                <option value="MAESTRO">MAESTRO</option>
            </select>
        </div>
        <div class="form-group">
            <label for="gp_token">{{#str}} googlepaytoken, paygw_payu {{/str}}</label>
            <textarea class="form-control" id="gp_token" name="gp_token" rows="4"></textarea>
            <small class="form-text text-muted">{{#str}} googlepaytoken_help, paygw_payu {{/str}}</small>
        </div>
        <div class="form-group">
            <label for="gp_phone">{{#str}} phone, paygw_payu {{/str}}</label>
            <input type="tel" class="form-control" id="gp_phone" name="phone" maxlength="20">
        </div>
        <div class="form-group">
            <label for="gp_documentnumber">{{#str}} documentnumber, paygw_payu {{/str}}</label>
            <input type="text" class="form-control" id="gp_documentnumber" name="documentnumber" maxlength="20">
        </div>
    </div>
    
    {{! Cash payment fields }}
    <div class="payment-method-fields d-none" data-method="cash">
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> {{#str}} instruction_cash, paygw_payu {{/str}}
        </div>
        <div class="form-group">
            <label for="cashmethod">{{#str}} cashmethod, paygw_payu {{/str}}</label>
            <select class="form-control" id="cashmethod" name="cashmethod">
                <option value="EFECTY">{{#str}} efecty, paygw_payu {{/str}}</option>
                <option value="OTHERS_CASH">{{#str}} otherscash, paygw_payu {{/str}}</option>
                <option value="BANK_REFERENCED">{{#str}} bankreferenced, paygw_payu {{/str}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cash_phone">{{#str}} phone, paygw_payu {{/str}}</label>
            <input type="tel" class="form-control" id="cash_phone" name="phone" maxlength="20">
        </div>
        <div class="form-group">
            <label for="cash_documentnumber">{{#str}} documentnumber, paygw_payu {{/str}}</label>
            <input type="text" class="form-control" id="cash_documentnumber" name="documentnumber" maxlength="20">
        </div>
    </div>
</form>