{{!
    Main checkout template for standalone payment page.
}}
<div class="payu-checkout-container">
    <div class="card">
        <div class="card-header">
            <h4>{{#str}} paymentdetails, paygw_payu {{/str}}</h4>
        </div>
        <div class="card-body">
            <div class="payment-summary mb-4">
                <h5>{{#str}} ordersummary, paygw_payu {{/str}}</h5>
                <table class="table table-sm">
                    <tr>
                        <td>{{#str}} description, paygw_payu {{/str}}:</td>
                        <td><strong>{{description}}</strong></td>
                    </tr>
                    <tr>
                        <td>{{#str}} amount, paygw_payu {{/str}}:</td>
                        <td><strong>{{localizedcost}}</strong></td>
                    </tr>
                </table>
            </div>
            
            {{> paygw_payu/checkout_modal }}
        </div>
        <div class="card-footer">
            <button type="submit" form="payu-checkout-form" class="btn btn-primary">
                {{#str}} submitpayment, paygw_payu {{/str}}
            </button>
            <a href="#" onclick="window.history.back(); return false;" class="btn btn-secondary">
                {{#str}} cancel {{/str}}
            </a>
        </div>
    </div>
</div>

{{#js}}
require(['jquery'], function($) {
    $(document).ready(function() {
        // Handle payment method changes.
        $('#paymentmethod').on('change', function() {
            var method = $(this).val();
            $('.payment-method-fields').addClass('d-none');
            if (method) {
                $('.payment-method-fields[data-method="' + method + '"]').removeClass('d-none');
            }
        });
        
        // Trigger initial change.
        $('#paymentmethod').trigger('change');
        
        // Validate credit card number.
        $('#cardnumber').on('input', function() {
            var value = $(this).val().replace(/\s+/g, '');
            var formatted = value.match(/.{1,4}/g);
            if (formatted) {
                $(this).val(formatted.join(' '));
            }
        });
        
        // Validate Nequi phone.
        $('#nequi_phone').on('input', function() {
            var value = $(this).val().replace(/\D/g, '');
            if (value.length > 10) {
                value = value.substr(0, 10);
            }
            $(this).val(value);
        });
    });
});
{{/js}}