{{!
    Google Pay fields for PayU checkout.
}}
<div class="mb-3">
    <label for="gp-network">{{# str }} cardnetwork, paygw_payu {{/ str }}</label>
    <select name="gp_network" id="gp-network" class="form-select">
        <option value="VISA">VISA</option>
        <option value="MASTERCARD">MASTERCARD</option>
        <option value="ELECTRON">ELECTRON</option>
        <option value="MAESTRO">MAESTRO</option>
    </select>
</div>
<div class="mb-3">
    <label for="gp-token">{{# str }} googlepaytoken, paygw_payu {{/ str }}</label>
    <textarea class="form-control" name="gp_token" id="gp-token" rows="4"></textarea>
</div>
<div class="mb-3">
    <label for="gp-phone">{{# str }} phone, paygw_payu {{/ str }}</label>
    <input type="text" class="form-control" name="phone" id="gp-phone" />
</div>
<div class="mb-3">
    <label for="gp-document">{{# str }} documentnumber, paygw_payu {{/ str }}</label>
    <input type="text" class="form-control" name="documentnumber" id="gp-document" />
</div>
