{{!
    @template paygw_payu/modal_footer
    
    Modal footer with submit button.
}}
<button type="button" class="btn btn-primary" id="payu-submit-payment">
    {{#str}} submitpayment, paygw_payu {{/str}}
</button>