{{!
    Nequi phone field for PayU checkout.
}}
<div class="mb-3">
    <label for="phone">{{# str }} phone, paygw_payu {{/ str }}</label>
    <input type="text" class="form-control" name="phone" id="phone" />
</div>
<div class="mb-3">
    <label for="nequidocument">{{# str }} documentnumber, paygw_payu {{/ str }}</label>
    <input type="text" class="form-control" name="documentnumber" id="nequidocument" />
</div>
