{{!
    PSE bank transfer fields for PayU checkout.
}}
<div class="mb-3">
    <label for="psebank">{{# str }} psebank, paygw_payu {{/ str }}</label>
    <select name="psebank" id="psebank" class="form-select">
        {{#banks}}
        <option value="{{code}}">{{name}}</option>
        {{/banks}}
    </select>
</div>
<div class="mb-3">
    <label for="usertype">{{# str }} usertype, paygw_payu {{/ str }}</label>
    <select name="usertype" id="usertype" class="form-select">
        <option value="N">{{# str }} personnatural, paygw_payu {{/ str }}</option>
        <option value="J">{{# str }} personjuridica, paygw_payu {{/ str }}</option>
    </select>
</div>
<div class="mb-3">
    <label for="documenttype">{{# str }} documenttype, paygw_payu {{/ str }}</label>
    <select name="documenttype" id="documenttype" class="form-select">
        <option value="CC">CC</option>
        <option value="CE">CE</option>
        <option value="NIT">NIT</option>
        <option value="TI">TI</option>
        <option value="PP">PP</option>
        <option value="RC">RC</option>
        <option value="DE">DE</option>
    </select>
</div>
<div class="mb-3">
    <label for="documentnumber">{{# str }} documentnumber, paygw_payu {{/ str }}</label>
    <input type="text" class="form-control" name="documentnumber" id="documentnumber" />
</div>
<div class="mb-3">
    <label for="phone">{{# str }} phone, paygw_payu {{/ str }}</label>
    <input type="text" class="form-control" name="phone" id="phone" />
</div>
