<form>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="mode" value="failed" id="retake-failed" checked>
        <label class="form-check-label" for="retake-failed">{{#str}}repeatfailed, local_quiz_retake_ui{{/str}}</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="mode" value="failed_blank" id="retake-failed-blank">
        <label class="form-check-label" for="retake-failed-blank">{{#str}}repeatfailedblank, local_quiz_retake_ui{{/str}}</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="mode" value="failed_risky" id="retake-failed-risky">
        <label class="form-check-label" for="retake-failed-risky">{{#str}}repeatfailedrisky, local_quiz_retake_ui{{/str}}</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="mode" value="failed_blank_risky" id="retake-failed-blank-risky">
        <label class="form-check-label" for="retake-failed-blank-risky">{{#str}}repeatfailedblankrisky, local_quiz_retake_ui{{/str}}</label>
    </div>
</form>
