{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_nexuspay/payment_region

    This template will render information about course fee along with payment options.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-component
    * data-paymentarea
    * data-itemid
    * data-cost
    * data-description
    * data-successurl

    Context variables required for this template:
    * cost - Human readable cost string including amount and currency
    * instanceid - Id of the enrolment instance
    * description - The description for this purchase
    * successurl - The URL of the course

    Example context (json):
    {
        "cost": "$50,000 COP",
        "instanceid": 11,
        "instancename": "NexusPay",
        "description": "Enrollment in course Introduction to Programming",
        "successurl": "https://moodlesite/course/view.php?id=2",
        "isguestuser": false,
        "dateend": "15 May 2025",
        "timeend": "23:59",
        "enrolperiod": "30",
        "enrolperiod_desc": "days",
        "freetrial": true,
        "sesskey": 234587628,
        "unpaidperiods": 1,
        "uninterrupted": true,
        "force": true,
        "groupkey": true,
        "courseid": 22,
        "hide": false
    }
}}

<div class="enrol-nexuspay-payment-container">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">
                <i class="fa fa-shopping-cart mr-2"></i>
                {{#str}}paymentrequired, enrol_nexuspay{{/str}}
            </h4>
        </div>
        
        <div class="card-body">
            {{#isguestuser}}
                <div class="alert alert-info">
                    <p>{{#str}}paymentrequired, enrol_nexuspay{{/str}}</p>
                    <p class="font-weight-bold">{{cost}}</p>
                    <a href="{{config.wwwroot}}/login/" class="btn btn-primary">
                        <i class="fa fa-sign-in mr-2"></i>
                        {{#str}}loginsite{{/str}}
                    </a>
                </div>
            {{/isguestuser}}
            
            {{^isguestuser}}
                <div class="payment-details">
                    {{#force}}
                        <div class="alert alert-warning mb-3">
                            <i class="fa fa-exclamation-circle mr-2"></i>
                            {{#str}}renewenrolment_text, enrol_nexuspay{{/str}}
                        </div>
                    {{/force}}
                    
                    <div class="cost-display text-center mb-4">
                        <h2 class="text-primary">{{cost}}</h2>
                        {{#uninterrupted}}
                            <p class="text-muted">
                                {{#str}}uninterrupted_desc, enrol_nexuspay, {{unpaidperiods}}{{/str}}
                            </p>
                        {{/uninterrupted}}
                    </div>
                    
                    {{#freetrial}}
                        <div class="trial-section mb-4">
                            <div class="alert alert-success">
                                <i class="fa fa-gift mr-2"></i>
                                {{#str}}freetrial_desc, enrol_nexuspay, {"count": {{enrolperiod}}, "desc": "{{enrolperiod_desc}}"}{{/str}}
                            </div>
                            <form id="freetrial-form" action="{{config.wwwroot}}/enrol/nexuspay/trial.php" method="POST">
                                <input type="hidden" name="instanceid" value="{{instanceid}}">
                                <input type="hidden" name="sesskey" value="{{sesskey}}">
                                <button type="submit" class="btn btn-success btn-lg btn-block">
                                    <i class="fa fa-play mr-2"></i>
                                    {{#str}}freetrialbutton, enrol_nexuspay{{/str}}
                                </button>
                            </form>
                        </div>
                    {{/freetrial}}
                    
                    {{^freetrial}}
                        {{#enrolperiod}}
                            <div class="enrollment-info mb-3">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <h5>
                                            <i class="fa fa-clock-o mr-2"></i>
                                            {{#str}}enrolperiod_duration, enrol_nexuspay, {"count": {{enrolperiod}}, "desc": "{{enrolperiod_desc}}"}{{/str}}
                                        </h5>
                                        {{#timeend}}
                                            <p class="mb-0">
                                                <i class="fa fa-calendar mr-2"></i>
                                                {{#str}}enrolperiodend, enrol_nexuspay, {"date": "{{dateend}}", "time": "{{timeend}}"}{{/str}}
                                            </p>
                                        {{/timeend}}
                                    </div>
                                </div>
                            </div>
                        {{/enrolperiod}}
                        
                        {{#groupkey}}
                            <div class="group-key-section mb-4">
                                <div class="card">
                                    <div class="card-header {{#hide}}bg-warning{{/hide}}{{^hide}}bg-light{{/hide}}">
                                        <h5 class="mb-0">
                                            <i class="fa fa-key mr-2"></i>
                                            {{#hide}}
                                                {{#str}}groupkeytextforce, enrol_nexuspay{{/str}}
                                            {{/hide}}
                                            {{^hide}}
                                                {{#str}}groupkeytext, enrol_nexuspay{{/str}}
                                            {{/hide}}
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-inline" action="{{config.wwwroot}}/enrol/nexuspay/pay.php" method="POST">
                                            <input type="hidden" name="id" value="{{instanceid}}">
                                            <input type="hidden" name="courseid" value="{{courseid}}">
                                            <input type="hidden" name="sesskey" value="{{sesskey}}">
                                            <input type="hidden" name="force" value="{{force}}">
                                            
                                            <div class="form-group mr-2">
                                                <label for="password" class="sr-only">
                                                    {{#str}}password, enrol_self{{/str}}
                                                </label>
                                                <input type="password" 
                                                       class="form-control" 
                                                       id="password" 
                                                       name="password" 
                                                       placeholder="{{#str}}password, enrol_self{{/str}}"
                                                       required
                                                       autocomplete="new-password">
                                            </div>
                                            
                                            <button type="submit" 
                                                    name="groupkey" 
                                                    value="1" 
                                                    class="btn {{#hide}}btn-warning{{/hide}}{{^hide}}btn-secondary{{/hide}}">
                                                <i class="fa fa-unlock mr-2"></i>
                                                {{#str}}submit{{/str}}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {{/groupkey}}
                        
                        {{^hide}}
                            <div class="payment-button-section">
                                <button class="btn btn-primary btn-lg btn-block"
                                        type="button"
                                        id="gateways-modal-trigger-{{uniqid}}"
                                        data-action="core_payment/triggerPayment"
                                        data-component="enrol_nexuspay"
                                        data-paymentarea="fee"
                                        data-itemid="{{instanceid}}"
                                        data-cost="{{cost}}"
                                        data-successurl="{{successurl}}"
                                        data-description="{{description}}">
                                    <i class="fa fa-credit-card mr-2"></i>
                                    {{#str}}sendpaymentbutton, enrol_nexuspay{{/str}}
                                </button>
                            </div>
                        {{/hide}}
                    {{/freetrial}}
                </div>
            {{/isguestuser}}
        </div>
    </div>
</div>

{{#js}}
    require(['core_payment/gateways_modal'], function(modal) {
        modal.init();
    });
{{/js}}